<main>
    <h2>Editar prestamo</h2>
    <section class="body">
        <div class="buscar">
            <div class="campo">
                <label for="buscar">Buscar cliente</label>
                <input type="text" name="buscar">
            </div>
            <!-- <div class="campo">
                <label for="idPrestamo">ID Prestamo</label>
                <input type="text" name="idPrestamo">
            </div> -->
            <button id="consultar" routerLink='/prestamos/consultar'>Cancelar</button>
            <button>Guardar</button>
        </div>
        <form action="" class="form">

            <div>
                <app-divider id="datoD" [title]="'Datos del prestamo'"></app-divider>
                <div class="Secction datos">
                    <div class="content_p">
                        <div>
                            <label for="idPrestamo">ID Prestamo</label>
                            <input type="text" name="idPrestamo">
                        </div>
                        <div>
                            <label for="cliente">Cliente</label>
                            <input type="text" name="cliente" id="cliente">
                        </div>
                        <div>
                            <label for="cuotas">Cant. cuotas</label>
                            <input type="text" name="cuotas" id="cuotas">
                        </div>
                        <div>
                            <label for="fechaInicio">Fecha inicio</label>
                            <input type="date" name="fechaInicio" id="fechaInicio">
                        </div>
                        <div>
                            <label for="ruta">Ruta</label>
                            <select name="ruta" id="ruta">
                                <option value="Soltero">Soltero</option>
                                <option value="Casado">Casado</option>
                                <option value="Viudo">Viudo</option>
                            </select>
                        </div>

                    </div>
                    <div class="content_s">
                        <div>
                            <label for="monto">Monto</label>
                            <input type="text" name="monto" id="monto">
                        </div>
                        <div>
                            <label for="montoCuota">Monto cuotas</label>
                            <input type="text" name="montoCuota" id="montoCuota">
                        </div>
                        <div>
                            <label for="tasa">Tasa</label>
                            <input type="text" name="tasa" id="tasa">
                        </div>
                        <div>
                            <label for="diaGracia">Dias Gracia</label>
                            <input type="text" name="diaGracia" id="diaGracia">
                        </div>
                        <div>
                            <label for="tasaMora">Tasa Mora</label>
                            <input type="text" name="tasaMora" id="tasaMora">
                        </div>
                    </div>
                </div>
            </div>
            <hr>

            <div class="Secction confi">
                <app-divider id="divider" [title]="'Configuracion del prestamo'"></app-divider>

                <div class="content_p">
                    <div>
                        <label for="tipoSaldo">Tipo saldo</label>
                        <select name="ruta" id="tipoSaldo">
                            <option value="Soltero">Capital</option>
                            <option value="Casado">Capital+Interes</option>
                        </select>
                    </div>
                    <div>
                        <label for="periodo">Perido</label>
                        <select name="ruta" id="periodo">
                            <option value="Soltero">Semanal</option>
                            <option value="Casado">Quincenal</option>
                            <option value="Viudo">Mensual</option>
                        </select>
                    </div>
                    <div>
                        <label for="tipo">Tipo</label>
                        <select name="ruta" id="tipo">
                            <option value="Soltero">Consumo</option>
                            <option value="Casado">Hipotecario</option>
                            <option value="Viudo">Comercial</option>
                        </select>
                    </div>
                </div>

            </div>
        </form>

        <div class="example-container mat-elevation-z8">
            <table mat-table [dataSource]="dataSource">


                <ng-container matColumnDef="Numero">
                    <th id="numero" mat-header-cell *matHeaderCellDef> Numero </th>
                    <td mat-cell *matCellDef="let element"> {{element.Numero}} </td>
                    <td class="footer" mat-footer-cell *matFooterCellDef></td>

                </ng-container>


                <ng-container matColumnDef="Cuota">
                    <th class="title" mat-header-cell *matHeaderCellDef> Cuota </th>
                    <td mat-cell *matCellDef="let element"> {{element.Cuota | currency}} </td>
                    <td class="footer" mat-footer-cell *matFooterCellDef> $11,000.00 </td>
                </ng-container>


                <ng-container matColumnDef="Capital">
                    <th class="title" mat-header-cell *matHeaderCellDef> Capital </th>
                    <td mat-cell *matCellDef="let element"> {{element.Capital | currency}} </td>
                    <td class="footer" mat-footer-cell *matFooterCellDef></td>

                </ng-container>


                <ng-container matColumnDef="Interes">
                    <th class="title" mat-header-cell *matHeaderCellDef> Interes </th>
                    <td mat-cell *matCellDef="let element"> {{element.Interes | currency}} </td>
                    <td class="footer" mat-footer-cell *matFooterCellDef> $1,000.00 </td>
                </ng-container>

                <ng-container matColumnDef="Seguro">
                    <th class="title" mat-header-cell *matHeaderCellDef> Seguro </th>
                    <td mat-cell *matCellDef="let element"> {{element.Seguro | currency}} </td>
                    <td class="footer" mat-footer-cell *matFooterCellDef></td>

                </ng-container>


                <ng-container matColumnDef="Balance">
                    <th class="title" mat-header-cell *matHeaderCellDef> Balance </th>
                    <td mat-cell *matCellDef="let element"> {{element.Balance | currency}} </td>
                    <td class="footer" mat-footer-cell *matFooterCellDef> $10,000.00 </td>
                </ng-container>


                <ng-container matColumnDef="Vence">
                    <th class="title" mat-header-cell *matHeaderCellDef> Vence </th>
                    <td mat-cell *matCellDef="let element"> {{element.Vence}} </td>
                    <td class="footer" mat-footer-cell *matFooterCellDef></td>

                </ng-container>

                <tr mat-header-row *matHeaderRowDef="displayedColumns; sticky: true"></tr>
                <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
                <tr mat-footer-row *matFooterRowDef="displayedColumns; sticky: true"></tr>
            </table>
        </div>


    </section>
</main>