<main>
    <h2>Nuevo ejecutivo</h2>
    <section class="body">
        <div class="buscar">
            <div class="campo">
                <label for="buscar">Buscar ejecutivo</label>
                <input type="text" name="buscar">
            </div>
        </div>
        <app-divider [title]="'Datos del ejecutivo'"></app-divider>
        <form action="" class="form">

            <div class="Secction">
                <div class="content_p">
                    <div>
                        <label for="nombre">Nombre</label>
                        <input type="text" name="nombre" id="nombre" [(ngModel)]='persona.nombre'>
                    </div>
                    <div>
                        <label for="cedula">Cedula</label>
                        <input type="text" name="cedula" id="cedula" [(ngModel)]='persona.cedula'>
                    </div>
                    <div>
                        <label for="direccion">Direccion</label>
                        <input type="text" name="direccion" id="direccion" disabled [(ngModel)]='direccionFull'>
                        <button class="dirBtn" mat-raised-button (click)="openDialog()">Crear</button>
                    </div>
                </div>
                <div class="content_s">
                    <div>
                        <label for="apellido">Apellido</label>
                        <input type="text" name="apellido" id="apellido" [(ngModel)]='persona.apellido'>
                    </div>
                    <div>
                        <label for="telefono">Telefono</label>
                        <input type="text" name="telefono" id="telefono" [(ngModel)]='persona.telefono'>
                    </div>
                    <div>
                        <label for="estado">Estado civil</label>
                        <select name="estado" id="estado" [(ngModel)]='persona.estado_civil'>
                            <option value="Soltero">Soltero</option>
                            <option value="Casado">Casado</option>
                            <option value="Viudo">Viudo</option>
                        </select>
                    </div>
                </div>
            </div>
        </form>
        <button (click)="guardar()">Guardar</button>

    </section>
</main>