select {
    inline-size: 262px;
}

.form .Secction {
    display: flex;
    justify-content: space-between;
    inline-size: 100%;
}

.form .Secction .content_p,
.form .Secction .content_s {
    block-size: auto;
    padding-block-end: 40px;
    display: flex;
    flex-direction: column;
}

.form .Secction .content_s {
    block-size: 141px;
}

.form .Secction .content_s div,
.form .Secction .content_p div {
    display: flex;
    /* justify-content: space-between; */
    padding-block-start: 11px;
}

button {
    margin-inline-start: 38.6%;
}

app-divider {
    padding-inline-start: 20px;
}
.dirBtn {
    margin-inline-start: 10px;
    inline-size: 104px;
    block-size: 24px;
}