<main>
    <h2>Realizar deposito</h2>
    <section class="body">

        <form action="" class="form">
            <div class="Secction datos">
                <div class="content_p">
                    <div>
                        <label for="idDeposito">ID deposito</label>
                        <input type="text" name="idDeposito" id="idDeposito">
                    </div>
                    <div>
                        <label for="Monto">Monto</label>
                        <input type="text" name="Monto" id="Monto">
                    </div>
                    <div>
                        <label for="Usuario">Usuario</label>
                        <input type="text" name="Usuario" id="Usuario">
                    </div>

                </div>
                <div class="content_s">
                    <div>
                        <label for="Banco">Banco</label>
                        <input type="text" name="Banco" id="Banco">
                    </div>
                    <div>
                        <label for="noDeposito">No. deposito</label>
                        <input type="text" name="noDeposito" id="noDeposito">
                    </div>
                </div>
            </div>
            <div class="acctions">
                <button>Guardar</button>
            </div>
        </form>

    </section>
</main>