<main>
    <h2>Registro de Materia prima</h2>
    <section class="body">
        <div class="buscar">
            <div class="campo">
                <label for="buscar">Buscar materia prima</label>
                <input type="text" name="buscar">
            </div>

            <button (click)="guardar()">Guardar</button>
        </div>
        <div class="campoD">
            <label for="buscar">Descripcion</label>
            <input type="text" name="buscar" [(ngModel)]="materia.descripcion">
        </div>
        <app-divider [title]="'Caracteristica materia prima'"></app-divider>
        <form action="" class="form">


            <div class="Secction datos">
                <div class="content_p">
                    <div class="campoD">
                        <label for="buscar">Costo</label>
                        <input type="text" name="buscar" [(ngModel)]="materia.costo">
                    </div>
                    <div>
                        <label for="formaPago">Proveedor</label>
                        <select name="formaPago" id="formaPago" [(ngModel)]="materia.proveedor">
                                <option *ngFor="let item of proveedores" value="{{item.id}}">{{item.nombre}}</option>

                            </select>
                    </div>
                    <button class="dirBtn" (click)="openDialog()" mat-raised-button>Ubicacion</button>

                </div>

            </div>

        </form>

        <div class="example-container mat-elevation-z8">
            <table mat-table [dataSource]="dataSource">


                <ng-container matColumnDef="ID">
                    <th class="title" id="ID" mat-header-cell *matHeaderCellDef> ID </th>
                    <td mat-cell *matCellDef="let element"> {{element.id}} </td>
                </ng-container>


                <ng-container matColumnDef="Materia prima">
                    <th class="title" mat-header-cell *matHeaderCellDef> Materia prima </th>
                    <td mat-cell *matCellDef="let element"> {{element.descripcion}} </td>
                </ng-container>

                <ng-container matColumnDef="Proveedor">
                    <th class="title" mat-header-cell *matHeaderCellDef> Proveedor </th>
                    <td mat-cell *matCellDef="let element"> {{element.proveedor}} </td>
                </ng-container>

                <ng-container matColumnDef="Cantidad">
                    <th class="title" mat-header-cell *matHeaderCellDef> Cantidad </th>
                    <td mat-cell *matCellDef="let element"> {{element.stock}} </td>
                </ng-container>

                <ng-container matColumnDef="Ubicacion">
                    <th class="title" mat-header-cell *matHeaderCellDef> Ubicacion </th>
                    <td mat-cell *matCellDef="let element"> {{element.id_ubicacion}} </td>
                </ng-container>

                <tr mat-header-row *matHeaderRowDef="displayedColumns; sticky: true"></tr>
                <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
            </table>
        </div>


    </section>
</main>