<main>
    <h2>Prestamos cancelados</h2>
    <section class="body">
        <div class="buscar">
            <div class="campo">
                <label for="inicio">Desde</label>
                <input [(ngModel)]="inicio" type="date" name="inicio" (ngModelChange)='cambiar($event)'>
                <!-- <input type="number" [(ngModel)]="lado.numero" > -->
            </div>
            <div class="campo">
                <label for="fin">Hasta</label>
                <input type="date" name="fin">
            </div>
        </div>
        <div class="example-container mat-elevation-z8">
            <table mat-table [dataSource]="dataSource">


                <ng-container matColumnDef="ID">
                    <th class="title" mat-header-cell *matHeaderCellDef> ID Prestamo </th>
                    <td mat-cell *matCellDef="let element"> {{element.ID}} </td>

                </ng-container>


                <ng-container matColumnDef="Monto">
                    <th class="title" mat-header-cell *matHeaderCellDef> Monto </th>
                    <td class="btnMonto" mat-cell *matCellDef="let element">{{element.Monto | currency}}</td>
                </ng-container>

                <ng-container matColumnDef="Fecha">
                    <th class="title" mat-header-cell *matHeaderCellDef> Fecha </th>
                    <td mat-cell *matCellDef="let element"> {{element.Fecha}} </td>

                </ng-container>


                <ng-container matColumnDef="Hora">
                    <th class="title" mat-header-cell *matHeaderCellDef> Hora </th>
                    <td class="btnMonto" mat-cell *matCellDef="let element">{{element.Hora}}</td>
                </ng-container>

                <ng-container matColumnDef="Cliente">
                    <th class="title" mat-header-cell *matHeaderCellDef> Cliente </th>
                    <td mat-cell *matCellDef="let element"> {{element.Cliente}} </td>

                </ng-container>


                <ng-container matColumnDef="Usuario">
                    <th class="title" mat-header-cell *matHeaderCellDef> Usuario </th>
                    <td class="btnMonto" mat-cell *matCellDef="let element">{{element.Usuario}} </td>
                </ng-container>
                <ng-container matColumnDef="Motivo">
                    <th class="title" mat-header-cell *matHeaderCellDef> Motivo </th>
                    <td mat-cell *matCellDef="let element"> {{element.Motivo}} </td>

                </ng-container>

                <tr mat-header-row *matHeaderRowDef="displayedColumns; sticky: true"></tr>
                <tr mat-row *matRowDef="let row; columns: displayedColumns;">} </tr>
            </table>
        </div>
        <div class="actions">
            <button>Consultar</button>
            <button id="imprimir">Imprimir</button>

        </div>
    </section>
</main>