.example-container {
    height: 400px;
    overflow: auto;
    margin-block-start: 20px;
}

table {
    width: 100%;
}

td {
    text-align: center;
}

.title {
    text-align: center;
    background-color: #343a40;
    color: white;
}

select {
    inline-size: 163px;
}

.form {
    margin-block-start: 20px;
    display: flex;
    /* justify-content: space-between; */
    flex-direction: column;
}

input {
    inline-size: 150px;
}

.form .datos {
    display: flex;
    justify-content: space-between;
    inline-size: 100%;
}

.content_p,
.content_s {
    display: flex;
    flex-direction: column;
    /* justify-content: space-between; */
}

.content_p div,
.content_s div {
    display: flex;
    /* flex-direction: column; */
    justify-content: space-between;
    padding-block-end: 11px;
}

.eliminar {
    background-color: red;
}

.eliminar,
.editar {
    background-color: red;
    inline-size: 150px;
    margin-block: 10px;
    margin-inline-end: 10px;
}

.editar {
    background-color: green;
}

.btn {
    display: flex;
    justify-content: center;
    margin-block-start: 20px;
}