<main>
    <h2>Cambiar contraseña </h2>
    <section class="body">

        <form action="" class="form">
            <div class="Secction datos">
                <div class="content_p">
                    <div>
                        <label for="Nueva">Nueva</label>
                        <input type="text" name="Nueva" id="Nueva">
                    </div>
                </div>
                <div class="content_s">
                    <div>
                        <label for="Repetir">Repetir</label>
                        <input type="text" name="Repetir" id="Repetir">
                    </div>
                </div>
            </div>
            <div class="btn">
                <button>Guardar</button>
            </div>
        </form>

    </section>
</main>