select {
    inline-size: 262px;
}

.form .Secction {
    display: flex;
    justify-content: space-around;
    inline-size: 100%;
    block-size: 59vh;
}

.form .Secction .content_p,
.form .Secction .content_s {
    /* block-size: auto; */
    padding-block-end: 40px;
    display: flex;
    flex-direction: column;
    inline-size: 45%;
    block-size: 100%;
}


/* .form .Secction .content_s {
    block-size: 141px;
    border-left: 2px solid #CCC1C1;
    ;
} */

.form .Secction .content_s div,
.form .Secction .content_p div {
    display: flex;
    /* justify-content: space-between; */
    padding-block-start: 11px;
    /* align-items: center; */
    flex-direction: column;
}

.dirBtn {
    margin-inline-start: 10px;
    inline-size: 104px;
    block-size: 36px;
    margin-block-start: 8px;
}