<h1 mat-dialog-title>Detalle de la orden {{data.id}}</h1>
<div class="example-container mat-elevation-z8">
    <table mat-table [dataSource]="dataSource">


        <ng-container matColumnDef="ID">
            <th class="title" id="id" mat-header-cell *matHeaderCellDef> ID </th>
            <td mat-cell *matCellDef="let element"> {{element.id}} </td>
        </ng-container>


        <ng-container matColumnDef="Materia prima">
            <th class="title" mat-header-cell *matHeaderCellDef> Materia prima </th>
            <td mat-cell *matCellDef="let element"> {{element.descripcion}} </td>
        </ng-container>

        <ng-container matColumnDef="Cantidad">
            <th class="title" mat-header-cell *matHeaderCellDef> Cantidad </th>
            <td mat-cell *matCellDef="let element"> {{element.cantidad}} </td>
        </ng-container>


        <tr mat-header-row *matHeaderRowDef="displayedColumns; sticky: true"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
    </table>
</div>
<div mat-dialog-actions>
    <!-- <button mat-button (click)="onNoClick()">Cancelar</button> -->
    <label for="estado">Cambiar estado</label>
    <select name="estado" id="estado" [(ngModel)]="data.estado">
                <option value="Recibida">Recibida</option>
                <option value="Incompleta">Incompleta</option>
                <!-- <option value="Viudo">Almacenada</option> -->
                <!-- <option value="Viudo">Pendiente</option> -->
    </select>
    <button mat-button [mat-dialog-close]="data" cdkFocusInitial>Recibir</button>
</div>