<main>
    <h2>Transacciones</h2>
    <section class="body">
        <div class="buscar">
            <div class="campo">
                <label for="buscar">ID</label>
                <input type="text" name="buscar">
            </div>
        </div>
        <form action="" class="form">

            <div class="Secction">
                <div class="content_p">
                    <div>
                        <label for="Banco">Banco</label>
                        <select name="Banco" id="Banco">
                            <option value="Banco popular">Banco popular</option>
                            <option value="Banco de reservas">Banco reservas</option>
                        </select>
                    </div>
                    <div>
                        <label for="Fecha">Fecha</label>
                        <input type="date" name="Fecha" id="Fecha">
                    </div>

                </div>
                <div class="content_s">
                    <div>
                        <label for="Cuenta">Cuenta</label>
                        <select name="Cuenta" id="Cuenta">
                            <option value="342342342">342342342</option>
                        </select>

                    </div>
                    <div>
                        <label for="Tipo">Tipo</label>
                        <select name="Tipo" id="Tipo">
                            <option value="deposito">Deposito</option>
                            <option value="retiro">Retiro</option>
                        </select>
                    </div>
                </div>
                <div class="content_t">

                    <div>
                        <label for="Monto">Monto</label>
                        <input type="text" name="Monto" id="Monto">
                    </div>
                    <div>
                        <label for="Nota">Nota</label>
                        <input type="text" name="Nota" id="Nota">
                    </div>
                </div>
            </div>

            <div class="content_d">
                <button>Consultar</button>
            </div>
        </form>
    </section>
</main>