<main>
    <h2>Registro de clientes</h2>
    <section class="body">
        <div class="buscar">
            <div class="campo">
                <label for="buscar">Buscar</label>
                <input type="text" name="buscar" id="buscar">
            </div>
            <button (click)="guardar()">Guardar</button>
        </div>
        <app-divider [title]="'Datos personales'"></app-divider>
        <form action="" class="form">

            <div class="Secction">
                <div class="content_p">
                    <div>
                        <label for="nombre">Nombre</label>
                        <input type="text" name="nombre" id="nombre">
                    </div>
                    <div>
                        <label for="cedula">Cedula</label>
                        <input type="text" name="cedula" id="cedula">
                    </div>
                    <div>
                        <label for="direccion">Direccion</label>
                        <input type="text" name="direccion" id="direccion">
                    </div>
                    <div>
                        <label for="correo">Correo</label>
                        <input [(ngModel)]='cliente.correo' type="email" name="correo" id="correo">
                    </div>
                </div>
                <div class="content_s">
                    <div>
                        <label for="apellido">Apellido</label>
                        <input type="text" name="apellido" id="apellido">
                    </div>
                    <div>
                        <label for="telefono">Telefono</label>
                        <input type="text" name="telefono" id="telefono">
                    </div>
                    <div>
                        <label for="estado">Estado civil</label>
                        <select name="estado" id="estado">
                            <option value="Soltero">Soltero</option>
                            <option value="Casado">Casado</option>
                            <option value="Viudo">Viudo</option>
                        </select>
                    </div>
                </div>
            </div>

            <app-divider id="divider" [title]="'Datos laborales'"></app-divider>

            <div class="Secction">
                <div class="content_p">
                    <div>
                        <label for="telefono-trabajo">Telefono</label>
                        <input [(ngModel)]='cliente.telefono_trabajo' type="text" name="telefono" id="telefono-trabajo">
                    </div>
                    <div>
                        <label for="direccion-trabajo">Direccion</label>
                        <input [(ngModel)]='cliente.direccion_trabajo' type="text" name="cedula" id="direccion-trabajo">
                    </div>
                    <div>
                        <label for="lugar">Lugar de trabajo</label>
                        <input [(ngModel)]='cliente.lugar_trabajo' type="text" name="lugar" id="lugar">
                    </div>
                </div>
                <div class="content_s">
                    <div>
                        <label for="cargo">Cargo</label>
                        <input [(ngModel)]='cliente.cargo' type="text" name="cargo" id="cargo">
                    </div>
                    <div>
                        <label for="sueldo">Sueldo</label>
                        <input [(ngModel)]='cliente.sueldo' type="text" name="sueldo" id="sueldo">
                    </div>
                    <div>
                        <label for="ingresos">Otros ingresos</label>
                        <input [(ngModel)]='cliente.otros_cargos' type="text" name="ingresos" id="otros">
                    </div>
                </div>
            </div>
        </form>
    </section>
</main>