select {
    inline-size: 163px;
}

.form {
    margin-block-start: 20px;
    display: flex;
    justify-content: space-between;
}

input {
    inline-size: 150px;
}

.form .datos {
    display: flex;
    justify-content: center;
    inline-size: 91%;
}

.form .confi {
    display: flex;
    justify-content: space-between;
    inline-size: 290px;
    flex-direction: column;
}

.content_p,
.content_s {
    display: flex;
    /* flex-direction: column; */
    justify-content: space-between;
    inline-size: 91%;
    align-items: center;
}

.content_p div,
.content_s div {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding-block-end: 11px;
    inline-size: 40%;
}

select {
    inline-size: 100%;
}

hr {
    color: rgba(228, 227, 227, 43);
    block-size: 200px;
}

#datoD {
    inline-size: 170px;
}

.example-container {
    height: 400px;
    overflow: auto;
    margin-block-start: 20px;
    block-size: 55%;
    inline-size: 50%;
    margin: 10px auto;
    border-radius: 10px;
}

table {
    width: 100%;
}

#consultar {
    background-color: rgb(61, 172, 105);
}

th {
    background-color: #343a40;
    color: white;
    padding-right: 0px !important;
}

#numero {
    inline-size: 90px;
    text-align: center;
}

td {
    text-align: center;
    font: var(--sidebar);
    padding-right: 0px !important;
}

.title {
    text-align: center;
}

.elegir {
    inline-size: 40px !important;
    padding: 0;
}

#cargarM {
    background-color: #BB2222;
}

.campoD {
    margin-block-end: 10px;
}

.buscar {
    inline-size: 87%;
}

.campo,
.campoD {
    inline-size: 75%;
}

.campo input {
    inline-size: 40.5%;
}

.campoD input {
    inline-size: 39.5%;
}