<div class="navbar" [ngClass]="{'navbar': menu_open===true, 'menu_hide': menu_open===false}">
    <img id="logo" src="../../../assets/Logo.png" alt="">
    <div (click)="open_menu()">
        <span class="iconify menu-icon" data-inline="false" data-icon="bx:bx-menu" style="color: #ffffff; font-size: 35px;"></span>
    </div>
    <div>
        <ul class="menu">

            <li class="opcions" (click)="abrir('Dashboard')">
                <div class="content">
                    <div class='item'>
                        <span class="iconify" data-inline="false" data-icon="clarity:dashboard-line" style="color: #ffffff; font-size: 35px;"></span>
                        <a>Dashboard</a>
                    </div>
                    <span class="iconify arrow" data-inline="false" data-icon="dashicons:arrow-down-alt2" style="color: #ffffff; font-size: 20px;"></span>
                </div>
                <div routerLinkActive="selected" class="animate__animated " [ngClass]="{'open  animate__backInLeft': open=='Dashboard', 'collapse': open!='Dashboard'}">
                    <ul class="suboption">
                        <li><a routerLink='/home' class="">Overview</a></li>
                    </ul>
                </div>
            </li>

            <li class="opcions" (click)="abrir('Clientes')">
                <div class="content">
                    <div class='item'>
                        <span class="iconify" data-inline="false" data-icon="clarity:avatar-line" style="color: #ffffff; font-size: 35px;"></span>
                        <a>Clientes</a>
                    </div>
                    <span class="iconify arrow" data-inline="false" data-icon="dashicons:arrow-down-alt2" style="color: #ffffff; font-size: 20px;"></span>
                </div>
                <div class="animate__animated" [ngClass]="{'open  animate__backInLeft': open=='Clientes', 'collapse': open!='Clientes'}">
                    <ul class="suboption">
                        <li routerLinkActive='selected'><a routerLink="/cliente/nuevo">Nuevo</a></li>
                        <li routerLinkActive='selected'><a routerLink="/cliente/garante" class="">Garante</a></li>
                        <li routerLinkActive='selected'><a routerLink="/cliente/rechazar" class="">Rechazar</a></li>
                    </ul>
                </div>
            </li>

            <li class="opcions" (click)="abrir('Prestamos')">
                <div class="content">
                    <div class='item'>
                        <img src="../../../assets/icon-prestamos.svg" alt="">
                        <a>Prestamos</a>
                    </div>
                    <span class="iconify arrow" data-inline="false" data-icon="dashicons:arrow-down-alt2" style="color: #ffffff; font-size: 20px;"></span>
                </div>
                <div class="animate__animated" [ngClass]="{'open animate__backInLeft': open=='Prestamos', 'collapse': open!='Prestamos'}">
                    <ul class="suboption">
                        <li routerLinkActive="selected"><a routerLink="/prestamos/nuevo">Nuevo</a></li>
                        <li routerLinkActive="selected"><a routerLink="/prestamos/ejecutivo">Ejecutivo</a></li>
                        <li routerLinkActive="selected"><a routerLink="/prestamos/editar">Editar</a></li>
                        <li routerLinkActive="selected"><a routerLink="/prestamos/agregar">Agregar</a></li>
                        <li routerLinkActive="selected"><a routerLink="/prestamos/festivo">Dias Festivos</a></li>
                        <li routerLinkActive="selected"><a routerLink="/prestamos/estado">Estado</a></li>
                        <li routerLinkActive="selected"><a routerLink="/prestamos/cancelado">Cancelados</a></li>
                    </ul>
                </div>
            </li>

            <li class="opcions" (click)="abrir('Estadistica')">
                <div class="content">
                    <div class='item'>
                        <img src="../../../assets/icon-estadistica.svg" alt="">
                        <a>Estadistica</a>
                    </div>
                    <span class="iconify arrow" data-inline="false" data-icon="dashicons:arrow-down-alt2" style="color: #ffffff; font-size: 20px;"></span>
                </div>
                <div class="animate__animated" [ngClass]="{'open  animate__backInLeft': open=='Estadistica', 'collapse': open!='Estadistica'}">
                    <ul class="suboption">
                        <li routerLinkActive='selected'><a routerLink='/estadistica/ingreso-gasto' class="">Estado ingresos y gastos</a></li>
                    </ul>
                </div>
            </li>

            <li class="opcions" (click)="abrir('Pagos')">
                <div class="content">
                    <div class='item'>
                        <span class="iconify" data-inline="false" data-icon="fluent:payment-16-regular" style="color: #ffffff; font-size: 35px;"></span>
                        <a>Pagos</a>
                    </div>
                    <span class="iconify arrow" data-inline="false" data-icon="dashicons:arrow-down-alt2" style="color: #ffffff; font-size: 20px;"></span>
                </div>
                <div class="animate__animated" [ngClass]="{'open  animate__backInLeft': open=='Pagos', 'collapse': open!='Pagos'}">
                    <ul class="suboption">
                        <li routerLinkActive='selected'><a routerLink='/pagos/cobrar' class="">Cobrar</a></li>
                        <li routerLinkActive='selected'><a routerLink='/pagos/consultar' class="">Consultar</a></li>
                        <li routerLinkActive='selected'><a routerLink='/pagos/otros' class="">Otros ingresos</a></li>
                    </ul>
                </div>
            </li>

            <li class="opcions" (click)="abrir('Cobrador')">
                <div class="content">
                    <div class='item'>
                        <img src="../../../assets/icon-prestamos.svg" alt="">
                        <a>Cobrador</a>
                    </div>
                    <span class="iconify arrow" data-inline="false" data-icon="dashicons:arrow-down-alt2" style="color: #ffffff; font-size: 20px;"></span>
                </div>
                <div class="animate__animated" [ngClass]="{'open  animate__backInLeft': open=='Cobrador', 'collapse': open!='Cobrador'}">
                    <ul class="suboption">
                        <li routerLinkActive='selected'><a routerLink='/cobradores/deposito' class="">Depositos</a></li>
                        <li routerLinkActive='selected'><a routerLink='/cobradores/monitoreo' class="">Monitoreo</a></li>
                        <li routerLinkActive='selected'><a routerLink='/cobradores/celulares' class="">Celulares</a></li>
                    </ul>
                </div>
            </li>

            <li class="opcions" (click)="abrir('Bancos')">
                <div class="content">
                    <div class='item'>
                        <span class="iconify" data-inline="false" data-icon="fluent:building-bank-28-regular" style="color: #ffffff; font-size: 35px;"></span>
                        <a>Bancos</a>
                    </div>
                    <span class="iconify arrow" data-inline="false" data-icon="dashicons:arrow-down-alt2" style="color: #ffffff; font-size: 20px;"></span>
                </div>
                <div class="animate__animated" [ngClass]="{'open  animate__backInLeft': open=='Bancos', 'collapse': open!='Bancos'}">
                    <ul class="suboption">
                        <li routerLinkActive='selected'><a routerLink='/bancos/registro' class="">Registro</a></li>
                        <li routerLinkActive='selected'><a routerLink='/bancos/cuenta' class="">Cuenta</a></li>
                        <li routerLinkActive='selected'><a routerLink='/bancos/transacciones' class="">Transacciones</a></li>
                        <li routerLinkActive='selected'><a routerLink='/bancos/cheque' class="">Cheque</a></li>
                        <li routerLinkActive='selected'><a routerLink='/bancos/consulta' class="">Consulta cheque</a></li>
                    </ul>
                </div>
            </li>

            <li class="opcions" (click)="abrir('Gastos')">
                <div class="content">
                    <div class='item'>
                        <span class="iconify" data-inline="false" data-icon="la:coins" style="color: #ffffff; font-size: 35px;"></span>
                        <a>Gastos</a>
                    </div>
                    <span class="iconify arrow" data-inline="false" data-icon="dashicons:arrow-down-alt2" style="color: #ffffff; font-size: 20px;"></span>
                </div>
                <div class="animate__animated" [ngClass]="{'open  animate__backInLeft': open=='Gastos', 'collapse': open!='Gastos'}">
                    <ul class="suboption">
                        <li><a href="#" class="">Registrar</a></li>
                        <li><a href="#" class="">Consultar</a></li>
                        <li><a href="#" class="">Tipo gasto</a></li>
                    </ul>
                </div>
            </li>

            <li class="opcions" (click)="abrir('Usuarios')">
                <div class="content">
                    <div class='item'>
                        <span class="iconify" data-inline="false" data-icon="la:user" style="color: #ffffff; font-size: 35px;"></span>
                        <a>Usuarios</a>
                    </div>
                    <span class="iconify arrow" data-inline="false" data-icon="dashicons:arrow-down-alt2" style="color: #ffffff; font-size: 20px;"></span>
                </div>
                <div class="animate__animated" [ngClass]="{'open  animate__backInLeft': open=='Usuarios', 'collapse': open!='Usuarios'}">
                    <ul class="suboption">
                        <li><a href="#" class="link-dark rounded">Nuevo</a></li>
                        <li><a href="#" class="link-dark rounded">Password</a></li>
                        <li><a href="#" class="link-dark rounded">Imagen</a></li>
                    </ul>
                </div>
            </li>
        </ul>
    </div>
</div>