<main>
    <h2>Reporte de depositos</h2>
    <section class="body">
        <div class="buscar">
            <div class="campo">
                <label for="filtro">Filtro</label>
                <select name="ruta" id="filtro">
                    <option value="Banco">Banco</option>
                    <option value="Usuario">Usuario</option>
                    <option value="No. Deposito">No. Deposito</option>
                </select>
            </div>
            <div class="id">
                <label for="criterio">Criterio</label>
                <input type="text" name="criterio" id="criterio">
            </div>

            <button>Consultar</button>
        </div>

        <div class="example-container mat-elevation-z8">
            <table mat-table [dataSource]="dataSource">


                <ng-container matColumnDef="ID">
                    <th class="title" id="ID" mat-header-cell *matHeaderCellDef> ID </th>
                    <td mat-cell *matCellDef="let element"> {{element.ID}} </td>
                </ng-container>


                <ng-container matColumnDef="Monto">
                    <th class="title" mat-header-cell *matHeaderCellDef> Monto </th>
                    <td mat-cell *matCellDef="let element"> {{element.Monto | currency}} </td>
                </ng-container>


                <ng-container matColumnDef="Fecha">
                    <th class="title" mat-header-cell *matHeaderCellDef>Fecha </th>
                    <td mat-cell *matCellDef="let element"> {{element.Fecha }} </td>
                </ng-container>


                <ng-container matColumnDef="Hora">
                    <th class="title" mat-header-cell *matHeaderCellDef> Hora</th>
                    <td mat-cell *matCellDef="let element"> {{element.Hora}} </td>
                </ng-container>

                <ng-container matColumnDef="Usuario">
                    <th class="title" mat-header-cell *matHeaderCellDef> Usuario</th>
                    <td mat-cell *matCellDef="let element"> {{element.Usuario}} </td>
                </ng-container>

                <ng-container matColumnDef="Banco">
                    <th class="title" mat-header-cell *matHeaderCellDef> Banco</th>
                    <td mat-cell *matCellDef="let element"> {{element.Banco}} </td>
                </ng-container>

                <ng-container matColumnDef="No">
                    <th class="title" mat-header-cell *matHeaderCellDef> No.</th>
                    <td mat-cell *matCellDef="let element"> {{element.No}} </td>
                </ng-container>

                <tr mat-header-row *matHeaderRowDef="displayedColumns; sticky: true"></tr>
                <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
            </table>
        </div>


    </section>
</main>