<main>
    <h2>Otros ingresos</h2>
    <section class="body">

        <form action="" class="form">
            <div class="Secction datos">
                <div class="content_p">
                    <div>
                        <label for="cliente">Cliente</label>
                        <input type="text" name="cliente" id="cliente">
                    </div>
                    <div>
                        <label for="concepto">Concepto</label>
                        <input type="text" name="concepto" id="concepto">
                    </div>
                    <div>
                        <label for="desde">Fecha</label>
                        <input type="date" name="desde" id="desde">
                    </div>

                </div>
                <div class="content_s">
                    <div>
                        <label for="idIngreso">ID Ingreso</label>
                        <input type="date" name="idIngreso" id="idIngreso">
                    </div>
                    <div>
                        <label for="monto">Monto</label>
                        <input type="text" name="monto" id="monto">
                    </div>
                    <div class="acctions">
                        <button>Guardar</button>
                    </div>
                </div>
            </div>
        </form>

    </section>
</main>