<main>
    <h2>Registrar tipos de gastos</h2>
    <section class="body">

        <form action="" class="form">
            <div class="Secction datos">
                <div class="content_p">
                    <div>
                        <label for="ID">ID</label>
                        <input type="text" name="ID" id="ID">
                    </div>
                </div>
                <div class="content_s">
                    <div>
                        <label for="Descripcion">Descripcion</label>
                        <input type="text" name="Descripcion" id="Descripcion">
                    </div>
                </div>
                <div>
                    <button>Guardar</button>
                </div>
            </div>
        </form>
        <div class="example-container mat-elevation-z8">
            <table mat-table [dataSource]="dataSource">


                <ng-container matColumnDef="ID">
                    <th class="title" id="ID" mat-header-cell *matHeaderCellDef> ID </th>
                    <td mat-cell *matCellDef="let element"> {{element.ID}} </td>
                </ng-container>


                <ng-container matColumnDef="Descripcion">
                    <th class="title" mat-header-cell *matHeaderCellDef>Descripcion</th>
                    <td mat-cell *matCellDef="let element"> {{element.Descripcion}} </td>
                </ng-container>

                <ng-container matColumnDef="Editar">
                    <th class="title" mat-header-cell *matHeaderCellDef> Editar</th>
                    <td mat-cell *matCellDef="let element">
                        <button class="eliminar">Eliminar</button><button class="editar">Editar</button>
                    </td>
                </ng-container>

                <tr mat-header-row *matHeaderRowDef="displayedColumns; sticky: true"></tr>
                <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
            </table>
        </div>
    </section>
</main>