<main>
    <h2>Registro de cheques</h2>
    <section class="body">
        <form action="" class="form">

            <div class="Secction">
                <div class="content_p">
                    <div>
                        <label for="Beneficiario">Beneficiario</label>
                        <input type="text" name="Beneficiario" id="Beneficiario">
                    </div>
                    <div>
                        <label for="Banco">Banco</label>
                        <select type="text" name="Banco" id="Banco">
                            <option value="">Banco popular</option>
                        </select>
                    </div>
                    <div>
                        <label for="NoCheque">No. Cheque</label>
                        <input type="text" name="NoCheque" id="NoCheque">
                    </div>
                    <div>
                        <label for="Prestamo">Prestamo</label>
                        <input type="text" name="Prestamo" id="Prestamo">
                    </div>

                </div>
                <div class="content_s">
                    <div>
                        <label for="apellido">Monto</label>
                        <input type="text" name="apellido" id="apellido">
                    </div>
                    <div>
                        <label for="Fecha">Fecha</label>
                        <input type="date" name="Fecha" id="Fecha">
                    </div>
                    <div>
                        <label for="IDCheque">ID Cheque</label>
                        <input type="text" name="IDCheque" id="IDCheque">
                    </div>
                    <div class="text-area">
                        <label for="Concepto">Concepto</label>
                        <textarea name="Concepto" id="Concepto" cols="10" rows="5"></textarea>
                    </div>
                </div>
                <div><button>Guardar</button></div>

            </div>


        </form>
    </section>
</main>