<main>
    <h2>Estado de prestamos por cliente</h2>
    <section class="body">
        <div class="buscar">
            <div class="campo">
                <label for="buscar">Buscar cliente</label>
                <input type="text" name="buscar">
            </div>
            <button>Consultar</button>
        </div>
        <div class="example-container mat-elevation-z8">
            <table mat-table [dataSource]="dataSource">


                <ng-container matColumnDef="ID">
                    <th class="title" mat-header-cell *matHeaderCellDef> ID </th>
                    <td mat-cell *matCellDef="let element"> {{element.ID}} </td>

                </ng-container>


                <ng-container matColumnDef="Monto">
                    <th class="title" mat-header-cell *matHeaderCellDef> Monto </th>
                    <td class="btnMonto" mat-cell *matCellDef="let element">{{element.Monto | currency}}</td>
                </ng-container>

                <ng-container matColumnDef="Cuotas">
                    <th class="title" mat-header-cell *matHeaderCellDef> Cuotas </th>
                    <td mat-cell *matCellDef="let element"> {{element.Cuotas}} </td>

                </ng-container>


                <ng-container matColumnDef="Monto_cuotas">
                    <th class="title" mat-header-cell *matHeaderCellDef> Monto cuotas </th>
                    <td class="btnMonto" mat-cell *matCellDef="let element">{{element.Monto_cuotas | currency}}</td>
                </ng-container>

                <ng-container matColumnDef="Fecha_inicio">
                    <th class="title" mat-header-cell *matHeaderCellDef> Fecha inicio </th>
                    <td mat-cell *matCellDef="let element"> {{element.Fecha_inicio}} </td>

                </ng-container>


                <ng-container matColumnDef="Tipo_saldo">
                    <th class="title" mat-header-cell *matHeaderCellDef> Tipo saldo </th>
                    <td class="btnMonto" mat-cell *matCellDef="let element">{{element.Tipo_saldo}} </td>
                </ng-container>
                <ng-container matColumnDef="Estatus">
                    <th class="title" mat-header-cell *matHeaderCellDef> Estatus </th>
                    <td mat-cell *matCellDef="let element"> {{element.Estatus}} </td>

                </ng-container>

                <tr mat-header-row *matHeaderRowDef="displayedColumns; sticky: true"></tr>
                <tr mat-row *matRowDef="let row; columns: displayedColumns;">} </tr>
            </table>
        </div>
    </section>
</main>