<main>
    <h2>Produccion</h2>
    <section class="body">
        <div class="buscar">
            <div class="campo">
                <label for="formaPago">Producto</label>
                <select name="formaPago" id="formaPago">
                    <option value="Soltero">Efectivo</option>
                    <option value="Casado">Tarjeta</option>
                    <option value="Viudo">Cheque</option>
            </select>
            </div>

            <button>Guardar</button>
        </div>

        <app-divider [title]="'Caracteristicas materia prima'"></app-divider>
        <form action="" class="form">

            <div class="Secction datos">
                <div class="content_p">

                    <div>
                        <label for="formaPago">Materia prima</label>
                        <select name="formaPago" id="formaPago">
                                <option value="Soltero">Efectivo</option>
                                <option value="Casado">Tarjeta</option>
                                <option value="Viudo">Cheque</option>
                            </select>
                    </div>
                    <div class="campo">
                        <label for="buscar">Cantidad</label>
                        <input type="text" name="buscar">
                    </div>
                    <button id="cargarM" (click)="cargar()">Cargar materia</button>

                </div>

            </div>

        </form>

        <div class="example-container mat-elevation-z8">
            <table mat-table [dataSource]="dataSource">


                <ng-container matColumnDef="ID">
                    <th class="title" id="ID" mat-header-cell *matHeaderCellDef> ID </th>
                    <td mat-cell *matCellDef="let element"> {{element.ID}} </td>
                </ng-container>


                <ng-container matColumnDef="Materia prima">
                    <th class="title" mat-header-cell *matHeaderCellDef> Materia prima </th>
                    <td mat-cell *matCellDef="let element"> {{element.Materia_prima}} </td>
                </ng-container>

                <ng-container matColumnDef="Cantidad">
                    <th class="title" mat-header-cell *matHeaderCellDef> Cantidad </th>
                    <td mat-cell *matCellDef="let element"> {{element.Cantidad}} </td>
                </ng-container>

                <tr mat-header-row *matHeaderRowDef="displayedColumns; sticky: true"></tr>
                <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
            </table>
        </div>


    </section>
</main>