<main>
    <h2>Registro de proveedores</h2>
    <section class="body">
        <div class="buscar">
            <div class="campo">
                <label for="buscar">Buscar</label>
                <input type="text" name="buscar">
            </div>
            <button (click)="guardar()">Guardar</button>
        </div>
        <app-divider [title]="'Datos personales'"></app-divider>
        <form action="" class="form">

            <div class="Secction">
                <div class="content_p">
                    <div>
                        <label for="nombre">Nombre</label>
                        <input type="text" name="nombre" id="nombre" [(ngModel)]='proveedores.nombre'>
                    </div>
                    <div>
                        <label for="cedula">Cedula</label>
                        <input type="text" name="cedula" id="cedula" [(ngModel)]='proveedores.documento'>
                    </div>
                    <div>
                        <label for="direccion">Direccion</label>
                        <section>
                            <input type="text" name="direccion" id="direccion" disabled [(ngModel)]='proveedores.direccion'>
                            <button class="dirBtn" mat-raised-button (click)="openDialog()">Crear</button>
                        </section>
                    </div>

                </div>
                <hr>
                <div class="content_s">
                    <div>
                        <label for="apellido">Apellido</label>
                        <input type="text" name="apellido" id="apellido" [(ngModel)]='proveedores.apellido'>
                    </div>
                    <div>
                        <label for="telefono">Telefono</label>
                        <input type="text" name="telefono" id="telefono" [(ngModel)]='proveedores.telefono'>
                    </div>
                    <div>
                        <label for="correo">Correo</label>
                        <input [(ngModel)]='proveedores.correo' type="email" name="correo" id="correo">
                    </div>
                </div>
            </div>
            <!-- 
            <app-divider id="divider" [title]="'Datos laborales'"></app-divider>

            <div class="Secction">
                <div class="content_p">
                    <div>
                        <label for="telefono">Telefono</label>
                        <input [(ngModel)]='proveedores.telefono_trabajo' type="text" name="telefono" id="telefono-trabajo">
                    </div>
                    <div>
                        <label for="direccion">Direccion</label>
                        <input [(ngModel)]='proveedores.direccion_trabajo' type="text" name="cedula" id="direccion-trabajo">
                    </div>
                    <div>
                        <label for="lugar">Lugar de trabajo</label>
                        <input [(ngModel)]='proveedores.lugar_trabajo' type="text" name="lugar" id="lugar">
                    </div>
                </div>
                <div class="content_s">
                    <div>
                        <label for="cargo">Cargo</label>
                        <input [(ngModel)]='proveedores.cargo' type="text" name="cargo" id="cargo">
                    </div>
                    <div>
                        <label for="sueldo">Sueldo</label>
                        <input [(ngModel)]='proveedores.sueldo' type="text" name="sueldo" id="sueldo">
                    </div>
                    <div>
                        <label for="ingresos">Otros ingresos</label>
                        <input [(ngModel)]='proveedores.otros_ingresos' type="text" name="ingresos" id="otros">
                    </div>
                </div>
            </div> -->
        </form>
    </section>
</main>