/* You can add global styles to this file, and also import other style files */

:root {
    --fontBase: 'Poppins', sans-serif;
    --sidebar: 14px/21px var(--fontBase);
    --headline5: bold 25px/37.5px var(--fontBase);
    --body: 16px/24px var(--fontBase);
}

* {
    margin: 0px;
}

body,
html {
    font: var(--headline5);
    block-size: 100%;
}


/* Formularios, etc */

h2 {
    text-align: center;
    font: var(--headline5);
}

main {
    margin-block-start: 30px;
}

label {
    font: var(--body);
}

input,
select {
    border-radius: 15px;
    border: 1px solid #CCC1C1;
    padding-inline-start: 10px;
    inline-size: 250px;
}

select {
    inline-size: 183px;
}

input,
select:focus {
    outline: none;
    /* text-decoration: none; */
}

label {
    padding-inline-end: 10px;
}

.body {
    margin-inline: 30px;
    margin-block-start: 30px;
}

.buscar {
    display: flex;
    justify-content: space-between;
}

.body button {
    background-color: #365EC2;
    border-radius: 50px;
    border: none;
    inline-size: 208px;
    block-size: 48px;
    color: white;
    cursor: pointer;
}


/* .form {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
} */


/* html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; } */