<main>
    <h2>Registrar gastos</h2>
    <section class="body">

        <form action="" class="form">
            <div class="Secction datos">
                <div class="content_p">
                    <div>
                        <label for="Gasto">Gasto</label>
                        <input type="text" name="Gasto" id="Gasto">
                    </div>
                    <div>
                        <label for="ID">ID</label>
                        <input type="text" name="ID" id="ID">
                    </div>
                    <div>
                        <label for="Nota">Nota</label>
                        <input type="text" name="Nota" id="Nota">
                    </div>

                </div>
                <div class="content_s">
                    <div>
                        <label for="Fecha">Fecha</label>
                        <input type="date" name="Fecha" id="Fecha">
                    </div>
                    <div>
                        <label for="Monto">Monto</label>
                        <input type="text" name="Monto" id="Monto">
                    </div>
                </div>
            </div>
            <div class="acctions">
                <button>Guardar</button>
            </div>
        </form>

    </section>
</main>